@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Wanderley Mayhé Junior</h4>
        <div>
            Email: <a href="mailto:juniormayhe@gmail.com">juniormayhe@gmail.com</a>
        </div>
        <div>
            Skype: <a href="skype:junior.mayhe?chat">junior.mayhe</a>
        </div>
        <div>
            Site: <a href="https://about.me/juniormayhe">https://about.me/juniormayhe</a>
        </div>
    </div>
    <div class="panel-footer">Tel: 304 386 08 56</div>
</div>